/* CSS for Webpage */
/* Modular Scale 16px=1em @ 1:1.5 */

/* Prevent text-size-adjustments */

html {
  /* background-image: url("../Background/.jpg"); */
  background-attachment: fixed;
  background-color: #F6CEF5;
}

body {
  font-family: "Abyssinica SIL", Georgia, Baskerville, "Times New Roman", serif;
  font-size: 1em;
  line-height: 1em;
  color: green;
}

div#header {
  display: block;
  background-image: url("../Background/6.jpg");
}

div#header ul.accessibility {
  position: absolute;
  left: -200em;
}

div#header h1 {
  font-family: "URW ChanceryL", Georgia, Baskerville, "Times New Roman", serif;
  font-size: 3em;
  text-align: center;
  color: purple;
  word-spacing: .15em;
  font-style: italic;
  text-decoration: blink;
  padding-top: 1.5em;
  padding-bottom: .5em;
}

div#header h1 + p.tagline {
  font-size: 1.5em;
  text-align: center;
}

ul#navigation {
  display: block;
  width: 100%;
  float: left;
  margin-top: 1.5em;
  margin-left: 2em;
  overflow: hidden;
}

ul#navigation li {
  display: block;
  padding: 5px;
}

ul#navigation li a {
  display: block;
  font-family: "Helvetica", "Helvetica nene", Arial, sans-serif;
  font-size: 1.25em;
  color: purple;
  height: 1.5em;
  padding-top: .75em;
}

ul#navigation li a:hover {
  background-color: #CECEF6;
  color: red;
}

div#content {
  margin-left: 20%;
  margin-right: 15%;
  width: 75%;
  position: relative;
}

h2 {
  font-family: "URW ChanceryL", Georgia, Baskerville, serif;
  font-size: 2em;
  line-height: 1em;
  color: purple;
  padding-top: .8em;
  padding-bottom: .6em;
}

h2+img {
  float: left;
  margin-top: 2.5em;
  margin-right: 2em;
  margin-left: 2em;
  margin-bottom: .25em
}

P {
  font-size: 1.2em;
  line-height: 2em;
  text-align: justify;
  text-indent: 2.25em;
  padding-top: .5em;
  padding-bottom: 1em;
  padding-left: 1.5em;
  padding-right: 1.5em;
}

a {
  text-decoration: none;
}

a:visited {
  color: purple;
}

a:hover {
  color: red;
}

div#home section {
  display: block;
  margin-left: 20%;
  margin-right: 15%;
  width: 75%;
  position: relative;
  margin-bottom: 2em;
}

div#home section li img {
  width: 30%;
  height: 30%;
}

div#home section p {
  display: block;
  float: none;
  padding-top: 2em;
}

h3 {
  font-family: "Helvetica", "Helvetica nene", Arial, sans-serif;
  font-size: 1.5em;
  line-height: 1em;
  padding-top: .5em;
  padding-bottom: .5em;
  padding-left: .2em;
}

div.professions p {
  font-family: "Abyssinica SIL", Georgia, Baskerville, "Times New Roman", serif;
  font-size: 1.1em;
  line-height: 1.5em;
  margin-left: -2.5em;
}

strong {
  font-weight: bold;
  line-height: 1.5em;
}

ul.duties li, ul.skills li, ul.expertise li, ul.activities li {
  font-family: "Abyssinica SIL", Georgia, Baskerville, "Times New Roman", serif;
  font-size: 1em;
  line-height: 2em;
  margin-left: 3em;
  margin-bottom: 1em;
  list-style-type: square;
  list-style-position: inside;
}

div.resume img {
  width: 10%;
  height: 10%;
  padding-top: 4em;
  padding-left: 1em;
  float: left;
}

div.resume p {
  font-family: "Helvetica", "Helvetica nene", Arial, sans-serif;
  padding-bottom: 2em;
  padding-top: 4em;
  padding-left: 0em;
}

img.portfolio {
  width: 10%;
  height: 10%;
}

div.portfolio h3 {
  font-family: "Abyssinica SIL", Georgia, Baskerville, "Times New Roman", serif;
  font-size: 1.2em;
  line-height: 1em;
  padding-top: .5em;
  padding-bottom: .5em;
  padding-left: 2em;
}

ul.Countries {
  padding-top: 1em;
}

ul.Countries li {
  font-family: "Purisa", Georgia, Baskerville, serif;
  font-size: 1.5em;
  line-height: 1em;
  padding-left: .5em;
  margin-right: .5em;
  list-style-type: disc;
  list-style-position: inside;
}

ul.Countries li ul li {
  float: none;
  list-style-type: none;
}

ul.Countries img {
  display: inline;
  margin-top: 1em;
  margin-right: .75em;
  margin-left: .75em;
}

ul.Countries li ul li p a {
  font-family: "Abyssinica SIL", Georgia, Baskerville, "Times New Roman", serif;
  font-size: .5em;
  text-decoration: underline;
  display: block;
  margin-left: -6em;
}

.favorite li {
  font-family: "Abyssinica SIL", Georgia, Baskerville, "Times New Roman", serif;
  font-size: 1.5em;
  padding-left: 1.5em;
  padding-top: .5em;
  padding-bottom: .5em;
  list-style-type: decimal;
  list-style-position: inside;
}

.favorite ul li {
  list-style-type: disc;
  list-style-position: inside;
  padding-top: 1em;
  padding-bottom: 1em;
}

.favorite li a {
  font-family: "Abyssinica SIL", Georgia, Baskerville, "Times New Roman", serif;
  font-size: .6em;
  line-height: 1em;
  padding-top: .5em;
  padding-bottom: .5em;
}

.favorite ul ul li {
  list-style-type: none;
  padding-top: .5em;
  padding-bottom: 0em;
  padding-left: .5em;
  padding-right: 0em;
  display: inline-block;
}

.favorite img {
  float: none;
  list-style-type: none;
}

ul.contact {
  font-size: 1.5em;
  color: green;
  line-height: 2em;
  padding-left: 1em;
  padding-top: .5em;
  padding-bottom: 1.5em;
}

ul.contact img {
  display: block;
  width: 10%;
  height: 10%;
  padding-left: 2em;
  padding-right: .5em;
  padding-top: 0em;
}

ul.contact img, ul.contact a {
  display: inline-block;
}

ul.Online-Social-Media {
  font-size: 1.5em;
  line-height: 2em;
  padding-left: 3em;
  padding-bottom: 3em;
}

ul.Online-Social-Media {
  list-style-type: circle;
}


#footer {
  display: block;
  color: purple;
  background-image: url("../Background/7.jpg");
  height: 10em;
  width: 100%;
  padding-bottom: .5em;
}

#footer p {
  text-align: center;
  padding-top: 3em;
}


/*  Media Query */

@media screen and (min-width: 16em) {

  ul#navigation {
    width: 100%;
  }
  #content {
    width: 100%;
  }
  div#home section li img {
  float: none;
  width: 100%;
  }
  h2+img {
    width: 100%;
    height: auto;
    text-align: center;
  }
  div.resume img {
  width: 10%;
  height: 10%;
  }
  img.portfolio {
  width: 10%;
  height: 10%;
  }
  ul.Countries img {
    width: 6.4em;
    text-align: center;
  }
  ul.contact img {
  width: 10%;
  height: 10%;
  }
}

@media screen and (min-width: 28em) {

  ul#navigation {
    width: 40%;
  }
  #content {
    width: 80%;
  }
  div#home section li img {
  float: none;
  width: 50%;
  }
  h2+img {
    width: 60%;
    height: auto;
    text-align: center;
  }
  img.portfolio {
  width: 7%;
  height: 7%;
  }
  div.resume img {
  width: 7%;
  height: 7%;
  }
  ul.Countries img {
    width: 11em;
  }
  ul.contact img {
  width: 7%;
  height: 7%;
  }
}

@media screen and (min-width: 45em) {

  ul#navigation {
    width: 30%;
  }
  #content {
    width: 75%;
  }
  div#home section li img {
  float: left;
  width: 30%;
  }
  h2+img {
    width: 30%;
    height: auto;
  }
  div.resume img {
  width: 5%;
  height: 5%;
  }
  img.portfolio {
  width: 5%;
  height: 5%;
  }
  ul.Countries img {
    width: 18em;
  }
  ul.contact img {
  width: 5%;
  height: 5%;
  }
}

@media screen and (min-width: 70em) {

  ul#navigation {
    width: 20%;
  }
  #content {
    width: 75%;
    max-width: 150em;
  }
  div#home section li img {
  float: left;
  width: 30%;
  }
  h2+img {
    width: 25%;
    height: auto;
  }
  div.resume img {
  width: 3.5%;
  height: 3.5%;
  }
  img.portfolio {
  width: 3.5%;
  height: 3.5%;
  }
  ul.contact img {
  width: 3.5%;
  height: 3.5%;
  }
}





