/* CSS for Webpage */
/* Modular Scale 20px=1em @ 1:1.5 */

/* Prevent text-size-adjustments */

html { 
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust:100%;
  text-size-adjust: 100%;
  background-image: url("../Background/.jpg");
  background-attachment: fixed;
  background-color: #F6CEF5;
}

body {
  font-family: "Abyssinica SIL", serif;
  font-size: 1em; /* 20px */
  line-height: 1em; /* 20px */
  color: green;
}

div#header {
  display: block;
  background-image: url("../Background/6.jpg");
  background-repeat: ;
}

div#header ul.accessibility {
  position: absolute;
  left: -200em;
}

div#header h1 {
  font-family: "URW ChanceryL", serif;
  font-size: 3em; /* 60px */
  text-align: center;
  color: purple;
  word-spacing: .15em; /* 3px */
  font-style: italic;
  text-decoration: blink;
  padding-top: 1.5em; 
  padding-bottom: .5em; /* 10px */
}

div#header h1 a {

}

div#header h1 + p.tagline {
  font-family:;
  font-size: 1.5em;
  text-align: center;
}

ul#navigation {
  display: block;
  width: 15em;
  float: left;
  margin-top: 1.5em;
  margin-left: 2em;
  overflow: hidden;
}

ul#navigation li {
  display: block;
  padding: 5px;
}

ul#navigation li a {
  display: block;
  font-family:;
  font-size: 1.25em;
  color: purple;
  height: 1.5em;
  padding-top: .75em;
}

ul#navigation li a:hover {
  background-color: #CECEF6;
  color: red;
}

img {
  display: block;
  float: left;
}

div#content {
  margin-left: 17em;
  margin-right: 17em;
  width: 60em;
  position: relative;
}

h2 {
  font-family: "URW ChanceryL", serif;
  font-size: 2em; /* 40px */
  line-height: 1em; /* 20px */
  color: purple;
  padding-top: .8em; /* 16px */
  padding-bottom: .6em; /* 12px */
  padding-left: 1em; /* 20px */
}
h2+img {
  margin-top: 2.5em; /* 50px */
  margin-right: 2em; /* 40px */
  margin-left: 2em; /* 40px */
  margin-bottom: .25em /* 5px */
}

ul.Countries img {
  margin-top: 1em; /* 20px */
  margin-right: .75em; /* 15px */
  margin-left: .75em; /* 15px */
}

P {
  font-size: 1.2em; /* 24px */
  line-height: 2em; /* 40px */
  text-align: justify;
  text-indent: 2.25em; /* 45px */
  padding-top: .5em; /* 10px */
  padding-bottom: 1em; /* 20px */
  padding-left: 1.5em; /* 30px */
  padding-right: 1.5em; /* 30px */
}

a {
  text-decoration: none;
}

a:visited {
  color: purple;
}

a:hover {
  color: red;
}

ul.Countries {
  font-family: "Purisa", serif;
  font-size: 1.5em; /* 30px */
  line-height: 1.8em; /* 36px */
  padding-left: 2em; /* 40px */
}

ul.Countries li {
   list-style-type: disc;
   list-style-position: inside;
}

ul.Countries a {
  font-family: "Abyssinica SIL", serif;
  font-size: .75em; /* 15px */
  padding-left: 2em; /* 40px */
  padding-bottom: 2em; /* 40px */
  text-decoration: underline;
}

ul.Online-Social-Media {
  font-size: 1.5em; /* 30px */
  line-height: 2em; /* 40px */
  padding-left: 3em; /* 60px */
  padding-bottom: 3em; /* 60px */
}

ul.Online-Social-Media {
  list-style-type: circle;
}


#footer {
  display: block;
  color: purple;
  background-image: url("../Background/7.jpg");
  height: 7em;
  padding-bottom: .5em; /* 10px */
}

#footer p {
  text-align: center;
  padding-top: 2em;
}
  

/*  Media Query */

@media screen and (max-width: 30em) {
  #content {
    width: 100%;
  }
  h2+img {
    width: 100%;
    height: auto;
    text-align: center;
  }
  ul.Countries img {
    width: 100%;
    height: auto;
    text-align: center;
  }
}

@media screen and (max-width: 60em) and (min-width: 30em) {
  #content {
    width: 100%;
  }
  h2+img {
    width: 50%;
    height: auto;
  }
  ul.Countries img {
    width: 40%;
    height: auto;
  }
}

@media screen and (min-width: 60em) {
  #content {
    width: 100%;
  }
  h2+img {
    width: 28%;
    height: auto;
  }
  ul.Countries img {
    width: 25%;
    height: auto;
  }
}
  




   
