header {
	background: url("http://xbim1810.github.io/background/6.jpg");
}
header a {
	text-decoration: none;
}
h1 {
    text-align: center;
    font-size: 42px;
    color: #F6CEF5;
   }
h2 {
    text-align: center;
    color: green;
    font-size: 20px;	
}
body {
      background: #F6CEF5;
      font-family: "Abyssinica SIL", Georgia, Baskerville, "Times New Roman", serif;
}
nav#navigation {
    padding-bottom: 5px;
}
nav#navigation li {
      background-color: #CECEF6;
      list-style: none;
      display: inline-block;
      float: right;
      padding: 10px;
}
.post {
       background: #fff;
       margin: 40px auto;
       padding: 20px;
       border-radius: 10px;
       width: 640px;
}
.avatar {
         margin: 60px 30px; 
         border-radius: 100%;
}

.like-reblog {
         list-style: none;
         border: 1px solid #ccc;
}
.like-reblog li {
         float: right;
         padding: 6px;
         height: 20px;
}

/*  Media Query */

@media screen and (min-width: 16em) {

  nav#navigation {
    width: 100%;
  }
  body {
    width: 100%;
  }
  .post {
    width: 100%
  }
  .like-reblog {
    float: clear;
    width: 100%
}
}

@media screen and (min-width: 28em) {

  nav#navigation {
    width: 100%;
  }
  body {
    width: 80%;
  }
  .post {
    width: 100%
  }
  .like-reblog {
    width: 80%
}
}

@media screen and (min-width: 45em) {

  nav#navigation {
    width: 100%;
  }
  body {
    width: 60%;
  }
  .post {
    width: 100%
  }
  .like-reblog {
    width: 80%
}
}

@media screen and (min-width: 70em) {

  nav#navigation {
    width: 100%;
  }
  body {
    width: 40%;
    max-width: 150em;
  }
  .post {
    width: 100%
  }
  .like-reblog {
    width: 80%
}
}
