header {
	background: url(http://dash.ga.co/assets/gene-bg.png);
}
header a {
	  text-decoration: none;
    	  color: #fff;
}
h1 {
    display: inline;
    position: absolute;
    top: 60px;
    font-size: 42px;
    color: #fff;
   }
h2 {
    display: inline;
    color: #fff;
    position: absolute;
    top: 120px;
    font-size: 20px;	
}
body {
      background: #eee;
      font-family: sans-serif;
}
.post {
       background: #fff;
       margin: 40px auto;
       padding: 20px;
       border-radius: 6px;
       width: 640px;
}
.avatar {
         margin: 60px 30px; 
         border-radius: 100%;
}
.container {
            max-width: 640px;
            margin: 0 auto; 
}
.like-reblog {
              list-style: none;
              border: 1px solid #ccc;
}
.like-reblog li {
                 float: right;
                 padding: 6px;
                 height: 20px;
}
.page {
       background: #222;
       padding: 20px;
}
.page a {
         text-decoration: none;
         color: #eee;
}
.pagelist {
           margin: 0 autho;
           width: 640px;
}
.pagivation {
             display: center;
             padding:
             word-spacing:
}
